

.titleInfo{
	font-family: "Times New Roman", Times, serif;
	font-size: 18pt;
	font-weight: 800;
	
	
}

.info{
	font-family: "Times New Roman", Times, serif;
	font-size: 12pt;
	margin: 
}


.jobWorkTitle{
	font-family: "Times New Roman", Times, serif;
	font-size: 24pt;
	font-weight: 800;
	
}


.company{
		font-family: "Times New Roman", Times, serif;
	font-size: 18pt;
	font-weight: 400;
}

.timeperiod{
		font-family: "Times New Roman", Times, serif;
	font-size: 16pt;

}

.description{
		font-family: "Times New Roman", Times, serif;
	font-size: 12pt;	
}