
.dTitle{
	
	font-size: 30pt;
	font-weight: 800;
	margin-top: 50px;
}

.video{
	
	
}

.releaseDate{
	
	font-size: 24pt;
	font-weight: 200;
	
}


.description{
	font-size: 12pt;
	
}



.external {
	font-size: 12pt;
	font-style:italic;
	
}