
.details{
	border: 1px dotted green;
	width:90%;
	float:left;
}

.dTitleDiv{
	margin-top: 50px;
	margin-bottom: 20px;
}

.dTitle{
	
	font-size: 30pt;
	font-weight: 600;
	
}

#dTitle{
	
	font-size: 30pt;
	font-weight: 600;
	
}

.video{
	border: 1px dotted yellow;
	width:  60vw;
	height: 33.75vw; /* 90*9/16 */
}

#video{
	border: 1px dotted yellow;
	width:  60vw;
	height: 33.75vw; /* 90*9/16 */
}

.videoDiv{
	border: 1px dotted grey;
	width:80%;
	height:80%;
}

.releaseDate{
	
	font-size: 24pt;
	font-weight: 200;
	
}

#releaseDate{
	
	font-size: 24pt;
	font-weight: 200;
	
}

.description{
	font-size: 12pt;
	
}

#description{
	font-size: 12pt;
	
}

.external {
	font-size: 12pt;
	font-style:italic;
	
}

#external {
	font-size: 12pt;
	font-style:italic;
	
}