body, html {
  height: 100%;
  margin: 0;
}


.bg{
	/* The image used */
  background-image: url("../resources/images/Background_Home.png");

  /* Full height */
  height: 100%;
	
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.profileImage{
	background-position: center;
	width: 50vw;
	height: 50vh;
	min-width: 300px;
	max-width: 400px;
	position: absolute;
	top: 50%;
	left:50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.buttons{
	font-size: 30pt;
	font-size: max(2.5vw, 30px);
	
	border-radius: 30px;
	background-color: #444;
	color: #ddd;
	margin-top:30px;
	margin-bottom:50px;
	
}

.logos{
	font-size: 12pt;
	width: 8%;
	height: 8%;
	min-width: 30px;
	min-height: 30px;
	max-width: 200px;
	max-height: 200px;
	border-radius: 10px;
	margin: 1%;
}

.nameInfos{
	position: absolute;
	top: 15%;
	left:50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	text-align: center;
	
}


.homeInfos{
	position: absolute;
	top: 80%;
	left:50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	text-align: center;
	
}


#MyName{		
	font-size: 40pt;
	font-size: max(4vw, 28px);
}

#Jobs{		
	font-size: 24pt;
	font-size: max(1.5vw, 18px);
}


#portfolio{
	
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 5px;
	padding-bottom: 5px;
}


