
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
/* FROM W3C SITE ABOUT FLEX */
* {
  box-sizing: border-box;
}

/* Header/logo Title */
.header {
  padding: 60px;
  text-align: center;
  background: #1abc9c;
  color: white;
}

/* Style the top navigation bar */
.navbar {
  display: flex;
  background-color: #333;
}

/* Style the navigation bar links */
.navbar a {
  color: white;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}

/* Change color on hover */
.navbar a:hover {
  background-color: #ddd;
  color: black;
}

/* Column container */
.row {  
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
  flex: 28%;
   /* background-color: #444; */
  padding: 20px;
  min-width:270px;
  max-width:270px;
}

/* Main column */
.main {
	flex: 70%;
	display:flex;
	align-items: center;
	flex-direction:column;
	/*background-color: #666; */
	padding: 20px;
  
}


/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .row, .navbar {   
    flex-direction: column;
  }
}


h1, h2, h3, h4, h5, h6 {
  color:#f0f0f0;
  margin:0 0 20px;
}

p, ul, ol, table, pre, dl {
  margin:0 0 20px;
}

h1, h2, h3 {
  line-height:1.1;
}

h1 {
  font-size:28px;
}

h2 {
  color:#d0d0d0;
}

h3, h4, h5, h6 {
  color:#b0b0b0;
}

a {
  color:#d0d0d0;
  text-decoration:none;
}

a:hover {
  color:#fff;
}

a small {
  font-size:11px;
  color:#777;
  margin-top:-0.3em;
  display:block;
}

a:hover small {
  color:#777;
}


blockquote {
  border-left:1px solid #e5e5e5;
  margin:0;
  padding:0 0 0 20px;
  font-style:italic;
}

code, pre {
  font-family:Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal, Consolas, Liberation Mono, DejaVu Sans Mono, Courier New, monospace;
  color:#333;
  font-size:12px;
}

pre {
  padding:8px 15px;
  background: #f8f8f8;
  border-radius:5px;
  border:1px solid #e5e5e5;
  overflow-x: auto;
}

table {
  width:100%;
  border-collapse:collapse;
}

th, td {
  text-align:left;
  padding:5px 10px;
  border-bottom:1px solid #e5e5e5;
}

dt {
  color:#444;
  font-weight:700;
}

th {
  color:#444;
}

img {
  max-width:100%;
}

header {
  width:270px;
  float:left;
  position:fixed;
  -webkit-font-smoothing:subpixel-antialiased;
}

header ul {
  list-style:none;
  height:40px;
  padding:0;
  background: #f4f4f4;
  border-radius:5px;
  border:1px solid #e0e0e0;
  width:270px;
}

header li {
  width:89px;
  float:left;
  border-right:1px solid #e0e0e0;
  height:40px;
}

header li:first-child a {
  border-radius:5px 0 0 5px;
}

header li:last-child a {
  border-radius:0 5px 5px 0;
}

header ul a {
  line-height:1;
  font-size:11px;
  color:#999;
  display:block;
  text-align:center;
  padding-top:6px;
  height:34px;
}

header ul a:hover {
  color:#999;
}

header ul a:active {
  background-color:#f0f0f0;
}

strong {
  color:#222;
  font-weight:700;
}

header ul li + li + li {
  border-right:none;
  width:89px;
}

header ul a strong {
  font-size:14px;
  display:block;
  color:#222;
}

section {
  width:500px;
  float:right;
  padding-bottom:50px;
}

small {
  font-size:11px;
}

hr {
  border:0;
  background:#777;
  height:1px;
  margin:10px 0px 10px; /* top, left, bottom */
  max-width: 100px;
}

footer {
	background-color: rgba(10,10,10,0.7);
	padding-top:10px;
	padding-bottom:5px;
	width:100%;
	text-align: center;
	position:fixed;
	bottom:-20px;
	-webkit-font-smoothing:subpixel-antialiased;
}



/* MY CHANGES. Need to check a new font */

body {
	background-color: #555;
	color:#eee;
	margin: 0;
	font-family: Roboto, sans-serif;
	font-weight:400;
}


span.job-field{
	font-family: "Open Sans", Times, serif;
	font-size: 12pt;
	padding: 0px 0px 0px 20px; 
}

.main-area {
	font-family: Roboto, Times, serif;
	font-size: 14pt;
	font-weight: 400;
	padding: 10px 10px 10px 10px; 
}

#MyName{
	font-family: "Open Sans", Times, serif; 
	color: #63ac20; /* Need to find a cool color */
	font-size: 18pt;
	font-weight: 600;
}


#Jobs{
	font-family: Roboto, Times, serif;
}

footer > p{
	font-size: min(1vw,10pt);
}



