body{
		/* The image used */
  background-image: url("../resources/images/background_prova.png");

  /* Center and scale the image nicely */
  background-position: center;
	
}


/* Intro section. This will have the Title, a description and the featured title*/
.intro {
	/*border: 1px dotted red;*/
	text-align: center;
	width: 95%;

}

.projects {
	/*border: 1px dotted white;*/
	width: 90%;
	display: block;
	
}

.project {
	float: left;
	/*border: 1px dotted yellow;*/
	width: 46%;
	
	margin-left: 1%;
	margin-right: 1%;
	
}


.projectTitle {
	/*font-family: "Times New Roman", Times, serif;*/
	font-size: max(1.5vw, 18px);
	font-weight: 600;
}

.projectDate {
	/*-family: "Times New Roman", Times, serif;*/
	font-size: max(1.2vw, 14px);
	font-weight: 200;
}

.projectImage{
		width: 100%;
		border-radius: 30px 30px 0px 0px;
	}
	

.infoDiv{
	text-align: center;
	height: 80px;
	background-color: rgba(20, 20, 20, 0.5);
	border-radius: 0px 0px 30px 30px;
}


#porfolioTitle{
	font-size: 40pt;
	font-size: min(4vw, 50px);
	
}

#highProj, #lowProj {
	text-align: left;
	width: 100%;
	display: block;
	
}

@media screen and (max-width: 950px) {
	
	.projectImage{
	
		width: 100%;

	}
	
	.project {
	float: left;
	/*border: 1px dotted yellow;*/
	width: 100%;
}