
/* Intro section. This will have the Title, a description and the featured title*/
.intro {
	/*border: 1px dotted red;*/
	text-align: center;
	width: 95%;

}

.projects {
	/*border: 1px dotted white;*/
	width: 90%;
	display: block;
	
}

.project {
	float: left;
	/*border: 1px dotted yellow;*/
	width: 48%;
	
	margin: 0.5%;
	
}


.projectTitle {
	font-family: "Times New Roman", Times, serif;
	font-size: 18pt;
	font-weight: 800;
}

.projectDate {
	font-family: "Times New Roman", Times, serif;
	font-size: 14pt;
	font-weight: 800;
}

.infoDiv{
	text-align: center;
	height: 100px;
	background-color: rgba(20, 20, 20, 0.7);
	
}


#porfolioTitle{
	font-size: 40pt;
	font-size: min(4vw, 50px);
	
}

#highProj, #lowProj {
	text-align: left;
	width: 100%;
	display: block;
	
}

@media screen and (max-width: 950px) {
	
	.projectImage{
	
		width: 100%;

	}
	
	.project {
	float: left;
	border: 1px dotted yellow;
	width: 100%;
}